<h3 id="wines-h1">Logueate</h3>
<div class="form-login">
    <form action="/auth/login" method="POST">

        <label for="email">Email: </label>
        <input type="email" name="email">
        <br>
        <br>
        <label for="password">Contraseña: </label>
        <input type="password" name="password">
        <br>
        <br>

        <h5 id="error-mensaje-login"> {{errorMensaje}} </h5>
        <br>

        <button class="btn-list-login"> Acceder </button>

    </form>
</div>