
<form action="/auth/signup" method="POST">

<p class="texto">Registro</p>
<div class="Registro">


<span class="fontawesome-user"></span><input class="registrostyle"type="text"  name="username" placeholder="Nombre de usuario">
<br>
<span class="fontawesome-envelope-alt"></span><input class="registrostyle" type="email" name="email" id="email" placeholder="Correo">
<br>
<span class="fontawesome-lock"></span><input class="registrostyle" type="password" name="password" id="password" placeholder="Contraseña"> 
<br>
<span class="fontawesome-lock"></span><input class="registrostyle" type="password" name="password2" id="password" placeholder="Confirma tu contraseña"> 


    <br>
   <h5 id="error-mensaje"> {{errorMensaje}} </h5>
    <br>

<input type="submit" value="Regístrate" title="Registra tu cuenta">

</form>