
<h3 id="subtitulo"> Sobre nosotros </h3>
<br>
<div id="index-bg-about">
  <article class="index-articles">
    <h2>Javi L칩pez</h2>
    <br>
    <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1653025334/lovers-wine/fotoPerfil_ypqgzo.jpg" alt="Javi L칩pez" width="150px">
    <br>
    <p class="text">Soy de C치diz, vivo en una zona con gran tradici칩n vitivin칤cola y grandes bodegas. Mi vino favorito es El tri치ngulo, un vino elaborado con uva tintilla, aut칩ctona de la provincia de C치diz  </p>
  </article>
  <article class="index-articles">
    <h2>Mar칤a Diez</h2>
    <br>
    <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1653036223/lovers-wine/foto_Mar%C3%ADa_tnk2co_otje6c.jpg" alt="Mar칤a Diez" width="150px">

    <br>
    <p class="text"> Soy de Aspe, un pueblo de Alicante, y vivo en Bilbao. <p> 游꽁 Mi vino favorito, el vino blanco Marina alta. <p> Es perfecto para comer con un arroz al se침oret. </p>
  </article>
  </div>