
<h3 id="wines-h1">Bienvenidos a Wine.Routes}</h3>
<h4 id="subtitulo">Regístrate para...</h4>
<div id="index-bg">
  <article class="index-articles">
    <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1653026196/lovers-wine/wine-glass_uhae0b.png" alt="icon" width="35px">
    <br>
    <h2>Conoce diferentes vinos</h2>
    <p class="text">En nuestra web podrás conocer los tipos de vinos más populares: tinto, blanco y rosado. Además, podrás descubrir los grandes rasgos que los definen.</p>
  </article>
  <article class="index-articles">
    <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1653025876/lovers-wine/downloading_xbxbzn.png" alt="icon" width="35px">
    <br>
    <h2>Guarda</h2>
    <p class="text">¿Has descubierto un vino que no has probado todavía? <p> Clica en el icono ♥️  para agregarlo a tu lista de vinos.</p>
  </article>
  <article class="index-articles">
    <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1653026052/lovers-wine/chat_u6fi9i.png" alt="icon" width="35px">
     <br>
    <h2>Deja tu comentario</h2>
    <p class="text">Cuéntanos algo más sobre el vino o escribe tú opinión. <p> Seguro que la información será útil para los demás usuarios.</p>
  
  </article>
</div>

