
<h3 id="wines-h1">Bienvenidos a Wine.Routes}</h3>
<h4 id="subtitulo">Regístrate para...</h4>
<div id="index-bg">
  <article class="index-articles">
    <h2>Conoce diferentes vinos</h2>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic error, necessitatibus, dolores porro eveniet quam laborum minus labore quibusdam maiores voluptatibus! Harum labore sunt facilis cum minima voluptate, possimus natus sint obcaecati, at</p>
  </article>
  <article class="index-articles">
    <h2>Guarda</h2>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic error, necessitatibus, dolores porro eveniet quam laborum minus labore quibusit amet consectetur adipisicing elit. Hic error, necessitatibus, dolores porro eveniet quam laborum minus labore quibusda?</p>
  </article>
  <article class="index-articles">
    <h2>Deja tu comentario</h2>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic error, necessitatibus, dolores porro eveniet quam laborum minus labore quibusdam maiores voluptatibus! Harum labore sunt facilis cum minima voluptate, possimus natus sint obcaecati, at q?</p>
  
  </article>
</div>

