<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            {{!-- <li><a href="/wines/wines">Vinos</a></li>
            <li><a href="/admin/admin">Perfil</a></li> --}}
         </ul>
         <ul>
            {{#if userIsActive}}
               {{!-- <li><a href="/user">Perfil</a></li> --}}
               <form action="/auth/logout" method="post">
                  <button>Cerrar sesión</button>
               </form>
               {{else}}
               <li><a href="/auth/signup">SingUp</a></li>
               <li><a href="/auth/login">Login</a></li>
            {{/if}}
         </ul>
      </nav>
   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>