  <h1>{{wineUser.username}}</h1>
  
<div id="content-user">
    <img src="{{wineUser.image}}" class="img-thumbnail" alt="Imagen perfil">
    <br>
    <br>
  
    {{#if userRole}}
      <a href="/profile/wish-list"> Lista de vinos favoritos </a>
    {{/if}}



    {{#if adminRole}}
      <a class="btn-list" href="/wines/list"> Lista de vinos creados </a>
      <a class="btn-list" href="/wines/create"> Crear vinos </a>
      {{!-- {{else}}
        {{#each wishList}}
          <li>{{this.nombre}}</li>
        {{/each}} --}}  
    {{/if}}

  <form action="/profile" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">

    <button type="submit"  type="button" class="btn btn-primary btn-sm"> Añade Foto de Perfil </button>

  </form>
</div>
