<h3 id="wines-h1">{{wineUser.username}}</h3>
  
<div id="content-user">
    <img src="{{wineUser.image}}" alt="Imagen perfil">
    <br>
    <br>
  <div class="conten-btn">
    {{#if userRole}}
      <a href="/profile/wish-list"> Lista de vinos favoritos </a>
    {{/if}}
  </div>
</div>
<div  class="conten-btn">
    {{#if adminRole}}
      <a class="btn-list" href="/wines/list"> Lista de vinos creados </a>
      <a class="btn-list" href="/wines/create"> Crear vinos </a>
      {{!-- {{else}}
        {{#each wishList}}
          <li>{{this.nombre}}</li>
        {{/each}} --}}  
    {{/if}}
</div>

<form class="add-img" action="/profile" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">

    <button type="submit"> Añade Foto de Perfil </button>

</form>
