<h1>User</h1>

{{!-- TENER EN CUENTA QUE ESTO SOLO LO HACE EL USUARIO NO ADMIN ( METER EN ESA OPCIÓN) --}}

<form action="/profile" method="POST" enctype="multipart/form-data">

  <label for="image"> Imagen: </label>
  <input type="file" name="image">

  <button type="submit"> Añade tu Foto de Perfil </button>
</form>
  <img src="{{wineUser.image}}" alt="Imagen perfil" width="100px">

  <li>{{wineUser.username}}</li> 


{{#if adminRole}}
    <button> <a href="/wines/list"> Lista de vinos creados </a> </button>

    <a href="/wines/create"> Crear vinos </a>
    {{else}}
      {{#each wishList}}
        <li>{{this.nombre}}</li>
      {{/each}}
    <p> Debería de aparecer la wish list favorita del usuario </p>
{{/if}}

