<h1>User</h1>

{{#if isAdmin}}
    <button> Lista de vinos creados </button>
    <button> Crear vinos </button>
{{/if}}

{{#if isUser}}
    <p> Debería de aparecer la wish list favorita del usuario </p>
{{/if}}