@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap');

body {
  margin: 0;
  padding: 0px;
  font: 14px;
  font-family: 'Lato', sans-serif;
}

#error-mensaje {
  color: darkred;
}

#nav-bar {
  display: flex;
  width: 100%;
  padding-bottom: 0;
}

#logo {
  padding-right: 30px;
  text-decoration: none;
  color: #7c1f24;
}

#logo a {
  padding-right: 30px;
  text-decoration: none;
  color: #7c1f24;
}

.btn-auth {
  display: flex;
  color: #7c1f24;
  justify-content: space-around;
}

.btn-auth a {

  padding: 20px 10px;
  text-decoration: none;
  color: #7c1f24;
}

#container {
  margin: 0px;
  display: flex;
  padding: 0px 20px;
  justify-content: flex-start;
}
#home {
  margin: 20px;
  display: flex;
  padding: 0px 10px;
}

#home a {
  text-decoration: none;
  color: #7c1f24;
}

#home a:hover {
  font-weight: 700;
}

#logout {
  justify-content: flex-end;
  padding-left: 320px;
}

#logo {
  display: inline-block;
  padding: 14px 20px 0 20px;
}

#btn-vinos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #7c1f24;
}

footer {
  text-align: center;
  padding-top: 5px;
  background-color: #7c1f24;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.negrita  {
  font-weight: 700;
}

#form-create{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wine-list {
  padding: 80px 25px 25px 25px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#wine-list a {
    text-decoration: none;
    border-style: none;
    padding: 5px 10px;
    background-color: #7c1f24;
    color: white;
    border-radius: 5px;
}

#wines-h1 {
  text-align: center;
}

.wines {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  padding-bottom: 30px;
}

.wines img {
  
  padding: 0 30px 30px 0;
}

#index-bg {
  padding-top: 250px;
  text-align: center;
  background-color: #edd5d6;
  height: 650px;
}

#index-bg h3{
  font-size: 1.9em;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;

}

.btn-index {
  border-style: none;
  padding: 5px 10px;
  background-color: #7c1f24;
  color: white;
  border-radius: 5px;
}