@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  padding: 50px;
  font: 14px;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#error-mensaje {
  color: darkred;
}

div {
  width: 95%;
  background-color: #7c1f24;
  margin: 20px 50px;
  padding: 50px;
  font: 100px;

}