
<div id="wine-list">
    <h1>wines</h1>
    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652898245/lovers-wine/hsypbpxkhxpiwmhl0nwq.jpg" alt="vino1" width="60px">
    <a href="/wines/tinto"> Vino Tinto </a>
    </div>

    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652898245/lovers-wine/hsypbpxkhxpiwmhl0nwq.jpg" alt="vino2" width="60px">
        <a href="wines/blanco"> Vino Blanco </a> 
    </div>

    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652898245/lovers-wine/hsypbpxkhxpiwmhl0nwq.jpg" alt="vino3" width="60px">
        <a href="wines/rosado"> Vino Rosado </a> 
    </div>
</div>
