
<h1 id="wines-h1">Vinos por categoría</h1>
<div id="wine-list">
    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652968135/lovers-wine/tinto_wjeqst.png" alt="vino1" width="180px">
    <a href="/wines/tinto"> Tintos </a>
    </div>

    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652968134/lovers-wine/blanco_m4dut8.png" alt="vino2" width="188px">
        <a href="wines/blanco"> Blancos </a> 
    </div>

    <div class="wines">
        <img src="https://res.cloudinary.com/dvhrxe7ju/image/upload/v1652968135/lovers-wine/rosado_da4hjm.png" alt="vino3" width="180px">
        <a href="wines/rosado"> Rosados </a> 
    </div>
</div>
